 <div class="modal fade" id="filtersModal" data-backdrop="static">
     <div class="modal-dialog modal-lg">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="filtersModalLabel">Advanced Filters</h5>
             </div>
             <div class="modal-body">
                 <div class="form-row">
                     <div class="form-group col-md-4">
                         <label>City</label>
                         <input type="text" class="form-control" id="city" name="city" value="{{ applied_filters.city }}">
                     </div>
                     <div class="form-group col-md-4">
                         <label>State</label>
                         <select class="form-control" id="state" name="state">
                             {% for filter in filter_values.stateType %}
                                 <option {% if applied_filters.state == filter.value %}selected{% endif %}>{{ filter.value }}</option>
                             {% endfor %}
                         </select>
                     </div>
                     <div class="form-group col-md-4">
                         <label>Zip Code</label>
                         <input type="text" class="form-control" id="zip" name="zip" value="{{ applied_filters.zip }}">
                     </div>
                 </div>
                 <div class="form-row">
                     <div class="form-group col-md-4">
                         <label>Sort</label>
                         <select class="form-control" id="sort" name="sort">
                             {% for filter in filter_values.sortType %}
                                 <option {% if applied_filters.sort == filter.value %}selected{% endif %}>{{ filter.value }}</option>
                             {% endfor %}
                         </select>
                     </div>
                     <div class="form-group col-md-4">
                         <label>Scope</label>
                         <select class="form-control" id="scope" name="scope">
                             {% for filter in filter_values.scopeType %}
                                 <option {% if applied_filters.scope == filter.value %}selected{% endif %}>{{ filter.value }}</option>
                             {% endfor %}
                         </select>
                     </div>
                     <div class="form-group col-md-4">
                         <label>Search Type</label>
                         <select class="form-control" id="searchType" name="searchType">
                             {% for filter in filter_values.searchType %}
                                 <option {% if applied_filters.searchType == filter.value %}selected{% endif %}>{{ filter.value }}</option>
                             {% endfor %}
                         </select>
                     </div>
                 </div>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="this.form.reset()">Cancel</button>
                 <button type="button" class="btn btn-danger" onclick="clearFilters()">Clear Filters</button>
                 <button type="submit" class="btn btn-primary">Apply Filters</button>
             </div>
         </div>
     </div>
</div>

<script>
    function clearFilters() {
        document.getElementById('city').value = '';
        document.getElementById('state').value = '';
        document.getElementById('zip').value = '';
        document.getElementById('sort').value = 'Relevance';
        document.getElementById('scope').value = '';
        document.getElementById('searchType').value = '';
    }
</script>