<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mainSearchPage</title>
</head>
    <body>
        {% block content %}
            <div class="jumbotron text-center">
                 <h1 class="display-4">Charity Search Engine</h1>
            </div>
            {% if error %}
                <div class="alert alert-warning" role="alert">
                    {{ error }}
                </div>
            {% endif %}
         <form action="{% url 'home' %}" method="post">
                    {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" id="query" aria-describedby="searchHelp" name="searchBox" placeholder="Find a charity to support today!" required>
            </div>
             <div>
                <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Find your favorite charity to support today...">SEARCH</button>
             </div>
        </form>
        {% endblock  %}
    </body>
</html>