{% extends "base.html" %}
{% block content %}
    <div class="jumbotron text-center">
         <h1 class="display-4">Charity Search Engine</h1>
    </div>
    <form action="{% url 'search' %}" method="get">
        <div class="form-row">
            <div class="form-group col-md-10">
                <input type="text" class="form-control" name="q" placeholder="Search Charities">
            </div>
            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom">Search</button>
            </div>
        </div>
    </form>
    <div class="button-group bg-primary" style="border-radius: 5px">
        <button type="button" class="btn btn-primary">Recent Disasters</button>
    </div>
    {% for disaster in disasters %}
        <a class="text-blue" href="/search/?q={{ disaster }}">{{ disaster }}</a><br>
    {% endfor %}
{% endblock %}