{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container d-flex align-items-center justify-content-center">
        <div class="d-flex flex-column flex-fill">
            <div class="d-flex justify-content-center"><img src="{% static "charity_search_icon.png" %}"/></div>
            <form action="{% url 'search' %}" method="get">
                <div class="d-flex flex-row justify-content-center">
                    <div class="flex-fill form-group">
                        <input type="text" class="form-control" name="q" placeholder="Search Charities">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
{#            <div class="d-flex justify-content-center">#}
{#                <h3><span class="badge badge-primary" style="width: 300px">Recent Disasters</span></h3>#}
{#            </div>#}
{#            {% for item in items %}#}
{#                <div class="d-flex justify-content-center"><a href="/search/?q={{ item }}">{{ item }}</a></div>#}
{#            {% endfor %}#}
        </div>
    </div>
{% endblock %}