{% extends "base.html" %}
{% load static %}
{% block content %}
    <form action="{% url 'search' %}" method="get">
        <div class="form-row">
            <div class="form-group col-md-1 mx-auto">
                <a href="/">
                    <img src="{% static "charity_search_icon.png" %}" style="width: 100%; height: 100%; padding-top: 15px"/>
                </a>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <input type="text" class="form-control" name="q" value="{{ search }}">
            </div>
            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-block btn-primary" data-toggle="tooltip" data-placement="bottom">Search</button>
            </div>
            <div class="form-group col-md-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filtersModal">Advanced Filters</button>
                {% include "main/filters.html" %}
            </div>
        </div>
    </form>
    {% if no_charities_returned %}
        <div class="d-flex justify-content-center" style="color:grey; margin-bottom: 1.5rem">
            {{ empty_search_string }}
        </div>
    {% endif %}
    {% for charity in charities %}
        <div class="form-group" style="font-weight: bold"><a href="{{ charity.websiteURL }}">{{ charity.charityName }}</a></div>
        <div class="form-group">{{ charity.mission }}</div>
    {% endfor %}
    <div class="row justify-content-center">
        <input type="hidden" name="pageNum" value="{{ pageNum }}">
        <div class="form-group col-md-2">
            <a href="{% url 'search' %}?q={{ search }}&pageNum={{ pageNum|add:-1 }}">
                <button type="submit" name="test" class="btn btn-block btn-primary" {% if pageNum == 1 %}disabled{% endif %}>Prev</button>
            </a>
        </div>
        <div class="form-group col-md-2">
            <a href="{% url 'search' %}?q={{ search }}&pageNum={{ pageNum|add:1 }}">
                <button type="submit" class="btn btn-block btn-primary"{% if not hasNext %}disabled{% endif %}>Next</button>
            </a>
        </div>
    </div>
{% endblock  %}